* {
  box-sizing: border-box;
}

.fixed-box {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: lightgreen;
  border: 2px solid #ddd;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  padding: 0px;
}

.fixed-box h2 {
  margin: 4px;
}

.dropdown {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

.dropdown-toggle {
  font-size: 24px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.content {
  margin-top: 69px;
}

#subline {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Adjust container with max-width */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  width: 100%;
  max-width: 800px; /* Adjust this to a specific max-width */
  margin: 0 auto;
}

/* Box styling */
.box {
  width: 100%;
  background-color: #000000;
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 130px;
}

/* Center the third box on a new row */
.box:nth-child(3) {
  grid-column: 1 / -1; /* Make the third box span both columns */
  justify-self: center;
  width: 50%;
  
}

.container p {
    font-family: 'Lora', serif;
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-size: 13px; 
    color: #ffffff;
}
